<div class="wrapper d-flex">
	<div class="sidebar">
		<small class="text-muted pl-3">Library Management</small>
		<ul>
			<li><LinkTo @route="index" class="menu"><i class=""></i>Employee</LinkTo></li>
			<li><LinkTo @route="library" class="menu"><i class=""></i>Library</LinkTo></li>

		</ul>
	</div>
    
</div>
{{yield}}